<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>search photo</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <form class="search-form" id="search-form">
      <input
        class="input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="submit" class="search-btn">
        <svg class="" width="15" height="15">
          <use href="./Image/icon.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <div class="gallery">
      <!-- Картки зображень -->
    </div>
    <button type="button" class="load-more is-hidden">Load more</button>

    <script src="index.js" type="module"></script>
  </body>
</html>
